.container{
      width:100%;background:	#191970;
      height:600px;
      display: flex;
      justify-content: center;
      align-items: center;
      position:relative
  }
  .wrapper{
    text-align:center;
    z-index: 10;
  }
  .title{
    color:white;
  }
  .backgroundView{
    position:absolute;
    right:0;
    bottom:0;
    width: 100%;
  
   
  }

  .btn{
    padding:10px 50px;
    text-align:center;
    border-radius:2px;
    font-weight:bold;
    cursor: pointer;
    margin-top: 10px;
    border-width: 0;
    z-index: 10;
  }
  .btn-pink{
    color:white;
    background-color:#FF0066;
  } 
  .btn-white{
    color:#FF0066;
    background-color:white;
  }

  .show-container{
    width:100%;
    height:100%;display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
  }
  .wrapper-form{
    text-align:center;
    padding:20px;
    
  }

  .input{
    padding:10px 30px;
  }
  .show-title{
    color:#191970;
  }

.wrapper-row{
    display:flex;
    justify-content:center;
    text-align:center
}
.rows {
background:#191970;
padding:10px; 
margin-left:10px;   
border-radius:30%;
border : 1px solid #191970;
width:20px;
color:white;
}


